doctype html
html lang="en"
    head
        meta charset="utf-8"
        meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
        title Who is afraid of the big bad template?
        link charset="utf-8" rel="stylesheet" href="/Users/coral/VSCodeProjects\presentation_who_is_afraid_of_the_big_bad_template/style.css"

    body
        .reveal
            .slides
                section data-markdown=""
                    |
                        # Who's Afraid
                        ## of the
                        # Big Bad Template<>?
                        ## Talk<"Coral Kashri", "Solidus">();
                        ### CoreC++ 2025
                
                section data-markdown=""
                    |
                        # Who am I? :)
                        ## Coral Kashri (She/Her)
                        * Senior C++ Developer
                        * C++ Senioreas blog writer
                        * ISO C++ committee member

                section 
                    section 
                        h5 test 1
                    section 
                        h5 test 2

                section
                    h2 Hello, Haml!
                    p This is a simple Haml template.

        script charset="utf-8" src="/Users/coral/VSCodeProjects\presentation_who_is_afraid_of_the_big_bad_template/revealjs.js"
        script
            |
                Reveal.initialize({
                    hash: true,
                    transition: 'slide',
                    navigationMode: 'grid',
                    plugins: [ RevealMarkdown, RevealSearch, RevealHighlight, RevealNotes ]
                });