doctype html
html lang="en"
    head
        meta charset="utf-8"
        meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
        title Who is afraid of the big bad template?
        link charset="utf-8" rel="stylesheet" href="dist/css/reveal-js-style.css"
        link charset="utf-8" rel="stylesheet" href="dist/css/custom-style.min.css"
        link charset="utf-8" rel="stylesheet" href="dist/css/page-flip.min.css"

    body
        .reveal
            .slides
                section.white-text data-markdown="" data-background-image="dist/assets/background_main.png" data-background-size="cover"
                    |
                        # Who's Afraid
                        ## of the
                        # Big Bad Template<>?
                        ## Talk<"Coral Kashri", "Solidus">();
                
                section data-markdown=""
                    |
                        # Who am I? :)
                        ## Coral Kashri (She/Her)
                        * Senior C++ Developer
                        * [C++ Senioreas](https:://cppsenioreas.wordpress.com) blog writer
                        * ISO C++ committee member

                section
                    .r-stack
                        img src="dist/assets/raise_hands.png" style="height: 80vh;"
                        img.fragment src="dist/assets/but_whyy.png" style="height: 80vh;"
                        img.fragment src="dist/assets/why_bother.png" style="height: 80vh;"
                        img.fragment src="dist/assets/errors.png" style="height: 80vh;"
                        img.fragment src="dist/assets/less_errors.png" style="height: 80vh;"
                        img.fragment src="dist/assets/red_pill_blue_pill.png" style="height: 80vh;"

                section id="book-slide"
                    div style="width: 80vw; height: 90vh; padding: 0 0 0 0vw;"
                        div id="flipbook-container"
                            .page-slide.page-cover.page-cover-top data-density="hard"
                                .page-content
                                    h2 The Big Bad Template
                            
                            .page-slide
                                .page-content
                                    h2.page-header Disclaimer 😇
                                    .page-text
                                        h5 id="disclaimer"
                                    h6 style="display: none" id="disclaimer-hidden"
                                        |
                                            Everything you see or hear in this talk is purely fictional and not connected to any real company I’ve ever come across.
                                            Also, the examples are for demonstration only ✨ (and yes… there may be much better design approaches 🙃).
                            
                            .page-slide
                                .page-content
                            
                            .page-slide
                                .page-content
                                    h2.page-header Once upon a ⌚...
                                    .page-text
                                        h5
                                            |
                                                There was a little 🏢, and this 🏢 had an intelligent CTO who just hated templates <😈>.<br><br>

                                                There was always the assumption that 😈s are difficult to maintain and that it's much harder
                                                to 🕵🏼‍♀️ someone who 💡 how to 💻 with them.<br><br>

                                                At the <- it all seemed so easy, as the idea was simply 💡💡💡 -
                                                to create a list of 🍓 to collect in the 🌲🌲 before going out and forgetting what was needed.<br><br>
                            
                            .page-slide
                                .page-content
                                    .page-text
                                        h5 So their technology looked like that:<br><br>
                                        .r-stack
                                            pre.larger-font
                                                code.hljs.cpp data-trim="" data-line-numbers=""
                                                    script type="text/template"
                                                        |
                                                            class grocery {
                                                                std::string name;
                                                            };

                                                            class basket {
                                                                grocery groceries[5];
                                                            };
                                        h5
                                            |
                                                <br><br>After completing the product, there was no need for a team to 🛠️ it, and the team was able to std::move std::forward to other technology challenges.

                            .page-slide
                                .page-content
                                    h2.page-header Modern 🧺
                                    .page-text
                                        h4
                                            |
                                                ⌚ 🚶🏽‍♀️ by, and the invention of a new modern 🧺 aimed to destroy the company's 🥇s.<br>
                                                A modern 🧺 that can contain up to <b>10</b> 🍇 at the same time!<br><br>

                            .page-slide
                                .page-content
                                    .page-text
                                        h4 
                                            |
                                                But the company CTO was not about to 🏳️, she moved her team back to this product and together created a newer
                                                list named <b>modern_basket</b>:<br><br>
                                        pre.larger-font 
                                            code.hljs.cpp data-trim="" data-line-numbers=""
                                                script type="text/template"
                                                    |
                                                        class modern_basket {
                                                            grocery groceries[10];
                                                        };

                            .page-slide 
                                .page-content 
                                    h2.page-header Extremely Truly Absolutely Modern 🧺
                                    .page-text 
                                        h5 
                                            |
                                                The new 💡 👆🏽 the company's stock price 📈, and everything
                                                seemed so peaceful for the company, until a newer 💡 got the attention of the 🌎.<br><br>
                                                A 🛒!<br><br>
                                                This 🛒 was able to contain up to <b>50</b> (🤯) 🍄‍🟫s at the same time.

                            .page-slide 
                                .page-content 
                                    .page-text 
                                        h5 
                                            |
                                                The CTO was 😫.<br><br>
                                                She and the team 🔎 it frustrating to create each time a new moderner modern container.<br>
                                                She knew they needed something 🧠, more dynamic, and flexible.<br>
                                                And in times of despair, she decided to do the inevitable upgrade to their architecture:

                                        pre.fragment.current-visible data-id="code-animation-1" data-fragment-index="0"
                                        pre.larger-font.fragment data-id="code-animation-1" data-fragment-index="1"
                                            code.hljs.cpp data-trim="" data-line-numbers=""
                                                script type="text/template"
                                                    |
                                                        template <size_t Capacity>
                                                        class groceries_container {
                                                            grocery groceries[Capacity];
                                                        };

                            .page-slide 
                                .page-content 
                                    .page-text 
                                        h5 id="book-ending"
                                    h6 style="display: none" id="book-ending-hidden"
                                        |
                                            And from that moment on, things were never as before.

                                            The company started to use more <😇> code.
                                            They learned constexpr, consteval, fold-expressions, reflection (well, soon...).
                                            They built compile-time tools and features.

                                            Their company grew.
                                            And the CTO was finally happy —
                                            because she never had to write the std::next extremely_truly_moderner_basket.

                            .page-slide 
                                .page-content 

                            .page-slide.page-cover.page-cover-bottom data-density="hard"
                                .page-content
                                    h2 The End

                section
                    h2 Templates? Metaprogramming?
                    ul
                        li.fragment Templates are part of Metaprogramming
                        li.fragment constexpr, consteval
                        li.fragment Advanced templates: Variaic template, fold-expressions, concepts...
                        li.fragment C++ Metaprogramming is a Turing-Complete language
                    
                    aside.notes
                        |
                            Brifely speak - 1 minute

                section
                    h2 NTTP vs. TTP
                    pre.larger-font.fragment
                        code.hljs.cpp data-trim="" data-line-numbers=""
                            script type="text/template"
                                |
                                    template <typename T>
                                    constexpr auto sum(T n1, T n2) { return n1 + n2; }

                    pre.larger-font.fragment
                        code.hljs.cpp data-trim="" data-line-numbers=""
                            script type="text/template"
                                |
                                    template <int N1, int N2>
                                    consteval auto sum() { return N1 + N2; }

                    pre.larger-font.fragment
                        code.hljs.cpp data-trim="" data-line-numbers=""
                            script type="text/template"
                                |
                                    template <typename T, T N1, T N2>
                                    consteval auto sum() { return N1 + N2; }

                    aside.notes
                        |
                            Brifely speak - 30 seconds

                section
                    h2 NTTP Main Restrictions
                    ul
                        li.fragment All structure's members (and their members) should be known at compile-time
                        li.fragment All structure's members (and their members) should be public
                        li.fragment Does std::string_view can be used as NTTP?
                    
                    aside.notes
                        |
                            Brifely speak - 30 seconds (you can mention constexpr function parametes as part of Israeli committee)

                section data-auto-animate=""
                    h2 std::string_view Implementation
                    pre.larger-font data-id="code-animation"
                        code.hljs.cpp data-trim="" data-line-numbers=""
                            script type="text/template"
                                |
                                    struct string_view {
                                        char* value;
                                        size_t size;
                                    };

                section data-auto-animate=""
                    h2 NTTP friendly FixedString
                    pre.larger-font data-id="code-animation"
                        code.hljs.cpp data-trim="" data-line-numbers=""
                            script type="text/template"
                                |
                                    template <size_t N>
                                    struct FixedString {
                                        char value[N];
                                    };

                section data-auto-animate=""
                    h2 NTTP friendly FixedString
                    pre.larger-font data-id="code-animation"
                        code.hljs.cpp data-trim="" data-line-numbers=""
                            script type="text/template"
                                |
                                    template <size_t N>
                                    struct FixedString {
                                        char value[N];

                                        constexpr FixedString(const char (&str)[N]) {
                                            for (size_t i = 0; i < N; ++i) {
                                                value[i] = str[i];
                                            }
                                        }
                                    };
                                    
                section
                    h2 Shopping Time!
                    h3 Grocey Interface 
                    pre.larger-font
                        code.hljs.cpp data-trim="" data-line-numbers=""
                            script type="text/template"
                                |
                                    struct IGrocery {
                                        virtual constexpr std::string_view GetName() const = 0;
                                        virtual constexpr double GetPrice() const = 0;
                                        virtual constexpr bool operator==(const IGrocery& ref) const = 0;
                                        constexpr bool operator!=(const IGrocery& ref) const = default;
                                    };

                                    // In our cart we'll use: std::vector<IGrocery*> m_items;
                
                section
                    h2 Grocery Items
                    pre.larger-font
                        code.hljs.cpp data-trim="" data-line-numbers="1-2|3-4|6-16|19-20"
                            script type="text/template"
                                |
                                    template <FixedString Name, double Price>
                                    struct GroceryItem : IGrocery {
                                        static constexpr auto name = Name;
                                        static constexpr double price = Price;

                                        constexpr std::string_view GetName() const override {
                                            return name.value;
                                        }

                                        constexpr double GetPrice() const override {
                                            return price;
                                        }

                                        constexpr bool operator==(const IGrocery& ref) const override {
                                            return ref.GetPrice() == GetPrice() && ref.GetName() == GetName();
                                        }
                                    };

                                    using Apple = GroceryItem<"apple", 2.99>; // compile-time
                                    using Banana = GroceryItem<"banana", 5.34>; // compile-time

                section
                    h2 Creating A Bag 
                    pre.larger-font
                        code.hljs.cpp data-trim="" data-line-numbers="1-3|5-9"
                            script type="text/template"
                                |
                                    template <typename GroceryT>
                                    struct Bag : public std::vector<GroceryT>{
                                        Bag(unsigned long long n) : std::vector<GroceryT>(n) {}

                                        template <typename OGroceryT>
                                        Cart operator+(Bag<OGroceryT>& otherBag) {
                                            return Cart(*this, otherBag); // We'll define Cart later
                                        }
                                    };

                section
                    h2 Creating a Cart 
                    pre.larger-font
                        code.hljs.cpp data-trim="" data-line-numbers="1|55-57|2-13|4|5-7|8|9|10-12|15-24|26-31|33-41|43-53"
                            script type="text/template"
                                |
                                    struct Cart {
                                        template <typename... Items>
                                        Cart(std::vector<Items>&... items) {
                                            auto list = {(items |
                                                            std::views::transform(
                                                                [](auto& i) { return &i; }
                                                            ) |
                                                            std::ranges::to<std::vector<IGrocery*>>())
                                                            ...};
                                            for (auto l : list) {
                                                m_items.insert(m_items.end(), l.begin(), l.end());
                                            }
                                        }
                                        
                                        template <typename... Items>
                                        Cart& operator+=(std::vector<Items>&... items) { // Adding items to existing cart
                                            auto list = {(items |
                                                          std::views::transform([](auto& i) { return &i; }) |
                                                          std::ranges::to<std::vector<IGrocery*>>())...};
                                            for (auto l : list) {
                                                m_items.insert(m_items.end(), l.begin(), l.end());
                                            }
                                            return *this;
                                        }

                                        template <typename Bag>
                                        Cart operator+(Bag& bag) {
                                            Cart temp = *this;
                                            temp += bag;
                                            return temp;
                                        }

                                        void Receipt() {
                                            double totalPrice = 0.0;
                                            IGrocery* lastItem = m_items[0];
                                            int currentItemCounter = 0;

                                            auto finalizeItem = [](IGrocery* itemType, int amount) {
                                                std::cout << itemType->GetName() << "s Count: " << amount << " Price: " << itemType->GetPrice() << "\n";
                                                return amount * itemType->GetPrice();
                                            };

                                            for (auto* item : m_items) {
                                                if (*lastItem != *item) {
                                                    totalPrice += finalizeItem(lastItem, currentItemCounter);
                                                    lastItem = item;
                                                    currentItemCounter = 0;
                                                }
                                                ++currentItemCounter;
                                            }
                                            totalPrice += finalizeItem(lastItem, currentItemCounter);
                                            std::cout << "Total: " << totalPrice << "\n";
                                        }

                                    private:
                                        std::vector<IGrocery*> m_items;
                                    };

                section
                    section
                        h2 Adding UDL
                        h3 User Defined Literals - 30_sec Remainder
                        .fragment 
                            pre.larger-font
                                code.hljs.cpp data-trim="" data-line-numbers=""
                                    script type="text/template"
                                        |
                                            auto i = 1; // int 
                                            auto i1 = 1l; // long 
                                            auto i2 = 1Z; // size_t 
                            
                        .fragment 
                            pre.larger-font
                                code.hljs.cpp data-trim="" data-line-numbers=""
                                    script type="text/template"
                                        |
                                            auto t = "1"; // char[] 
                                            auto t1 = "1"s; // std::string
                                            auto t2 = "1"sv; // std::string_view 

                        aside.notes
                            |
                                UDLs allow you to define your own literal suffixes to make code more readable and expressive.
                                In C++ there are Built-in literal suffixes like l (long) and Z (size_t).
                    
                    section
                        h2 Adding UDL
                        div
                            h3 The rule I'll ignore 
                            h4 Any UDL should start with a single underscore ('_'), otherwise it's reserved for the standard library implementors.
                            img.fragment src="dist/assets/tom_and_jerry_catch_me_is_you_can.png" style="height: 40vh"

                    section
                        h2 Adding UDL
                        pre.larger-font
                            code.hljs.cpp data-trim="" data-line-numbers=""
                                script type="text/template"
                                    |
                                        auto operator""🛍🍎(unsigned long long n) {
                                            return Bag<Apple>(n);
                                        }

                                        auto operator""🛍🍌(unsigned long long n) {
                                            return Bag<Banana>(n);
                                        }

                section 
                    h2 Combining it all together 
                    pre.larger-font.fragment
                        code.hljs.cpp data-trim="" data-line-numbers=""
                            script type="text/template"
                                |
                                    int main() {
                                        auto 🍎s = 7🛍🍎;
                                        auto 🍌s = 10🛍🍌;

                                        auto 🛒🐕 = 🍎s + 🍌s;
                                        🛒🐕 += 🍌s;

                                        🛒🐕.Receipt();
                                    }
                    pre.larger-font.fragment
                        code.hljs data-trim="" data-line-numbers=""
                            script type="text/template"
                                |
                                    apples Count: 7 Price: 2.99
                                    bananas Count: 20 Price: 5.34
                                    Total: 127.73

                section 
                    h2 But WAIT!
                    h3.fragment Let's level it up a little
                    h2.fragment Completely Compile-Time Program!

                section
                    h2 What is our target?
                    pre.larger-font.fragment
                        code.hljs.cpp data-trim="" data-line-numbers=""
                            script type="text/template"
                                |
                                    int main() {
                                        constexpr auto 🍎s = 7🛍🍎;
                                        constexpr auto 🍌s = 10🛍🍌;
                                        constexpr auto 🍌s2 = 5🛍🍌;

                                        constexpr auto 🛒🐕 = 🍎s + 🍌s + 🍌s2;

                                        static_assert(🛒🐕.TotalCost() == 7 * Apple::price + 15 * Banana::price);

                                        🛒🐕.Receipt();
                                    }

                section data-auto-animate=""
                    h2 Making Compile-Time Bag
                    pre.larger-font data-id="compile-time-bag-animation"
                        code.hljs.cpp data-trim="" data-line-numbers="|2"
                            script type="text/template"
                                |
                                    template <typename GroceryT>
                                    struct Bag : public std::vector<GroceryT>{
                                        Bag(unsigned long long n) : std::vector<GroceryT>(n) {}

                                        template <typename OGroceryT>
                                        Cart operator+(Bag<OGroceryT>& otherBag) {
                                            return Cart(*this, otherBag);
                                        }
                                    };

                section data-auto-animate=""
                    h2 Making Compile-Time Bag
                    pre.larger-font data-id="compile-time-bag-animation"
                        code.hljs.cpp data-trim="" data-line-numbers="2|"
                            script type="text/template"
                                |
                                    template <typename GroceryT, int Amount>
                                    struct Bag : public std::array<GroceryT, Amount> {
                                        template <typename OGroceryT, int OAmount>
                                        constexpr Cart operator+(Bag<OGroceryT, OAmount> otherBag) const {
                                            return Cart(*this, otherBag);
                                        }
                                    };

                section 
                    h2 Core Change to Cart 
                    pre.larger-font.fragment 
                        code.hljs.cpp data-trim="" data-line-numbers=""
                            script type="text/template"
                                |
                                    // std::vector<IGrocery*> m_items; // runtime implementation
                                    std::tuple<Bag<Apple>, Bag<Banana>, ...> m_bags; // compile-time implementation

                section 
                    h2 What is std::tuple?
                    ul
                        li.fragment tuple is an extended std::pair, can hold an inifinite number of types.
                        li.fragment The choise to which element we want to access should be done at compile-time.
                    pre.larger-font.fragment 
                        code.hljs.cpp data-trim="" data-line-numbers="|4"
                            script type="text/template"
                                |
                                    std::tuple<int, double, std::string> myTuple;
                                    std::get<0>(myTuple); // 1. Access to int
                                    std::get<2>(myTuple); // 2. Access to std::string
                                    std::get<double>(myTuple); // 3. Access to double
                    h4.fragment When using typed get access, all the tuple's types have to be unique.
                    pre.larger-font.fragment 
                        code.hljs.cpp data-trim="" data-line-numbers=""
                            script type="text/template"
                                |
                                    std::tuple<int, double, int> myTuple;
                                    std::get<int>(myTuple); // Compile-time error.

                section data-auto-animate=""
                    h2 Cart Implementation Time
                    pre.larger-font.fragment data-id="compile-time-cart-implemetation" 
                        code.hljs.cpp data-trim="" data-line-numbers=""
                            script type="text/template"
                                |
                                    template <typename... Bags> // Bag<Apple>, Bag<Banana>, etc...
                                    struct Cart {
                                        // ...
                                    private:
                                        std::tuple<Bags...> m_bags;
                                        // Will be expanded to std::tuple<Bag<Apple>, Bag<Banana>, ...> m_bags;
                                    };

                section data-auto-animate=""
                    h2 Cart Implementation Time
                    pre.larger-font.fragment data-id="compile-time-cart-implemetation" 
                        code.hljs.cpp data-trim="" data-line-numbers="3|4-6|8-13|15-18|20-26|21|22|23|24|21-25|28-38|29-35|30|31|32-34|29,35|37"
                            script type="text/template"
                                |
                                    template <typename... Bags> // Bag<Apple>, Bag<Banana>, etc...
                                    struct Cart {
                                        constexpr Cart(Bags... bags) : m_bags{bags...} {}
                                        // Helper for operator+
                                        constexpr Cart(std::tuple<Bags...> bags_tuple)
                                                    : m_bags(std::move(bags_tuple)) {}

                                        template <typename... OtherBags>
                                        constexpr auto operator+(OtherBags... bags) const {
                                            return Cart<Bags..., OtherBags...>(
                                                std::tuple_cat(m_bags, std::make_tuple(bags...))
                                            );
                                        }

                                        template <typename BagT>
                                        static constexpr double BagPrice(const BagT& bag) {
                                            return bag.size() * bag[0].price;
                                        }

                                        constexpr double TotalCost() const {
                                            return ( // fold-expression
                                                BagPrice(std::get<Bags>(m_bags)) // expression to expand
                                                + ... // expanding
                                                + 0.0 // initial value
                                                );
                                        }

                                        void Receipt() const {
                                            ([&]() {
                                                const auto& bag = std::get<Bags>(m_bags); // std::array inheritance
                                                const auto& firstItem = bag.front();
                                                std::cout << firstItem.GetName() << "s: "
                                                        << bag.size() << " 💰: " << firstItem.price
                                                        << "\n";
                                            }(), ...);
                                            
                                            std::cout << "Total: " << TotalCost() << "\n";
                                        }

                                    private:
                                        std::tuple<Bags...> m_bags;
                                    };

                section data-auto-animate=""
                    h2 Minor UDL modification
                    pre.larger-font.fragment 
                        code.hljs.cpp data-trim="" data-line-numbers="7-10|9|1-5"
                            script type="text/template"
                                |
                                    template <char... Digits>
                                    static consteval int ParseAmount() {
                                        int res = 0;
                                        return ((res = res * 10 + (Digits - '0')), ...);
                                    }

                                    template <char... Digits>
                                    constexpr auto operator""🛍🍎() {
                                        return Bag<🍎, ParseAmount<Digits...>()>{};
                                    }
                                    
                                    // ...

                section
                    h2 The Result
                    pre.larger-font
                        code.hljs.cpp data-trim="" data-line-numbers=""
                            script type="text/template"
                                |
                                    int main() {
                                        constexpr auto 🍎s = 7🛍🍎;
                                        constexpr auto 🍌s = 10🛍🍌;
                                        constexpr auto 🍌s2 = 5🛍🍌;

                                        constexpr auto 🛒🐕 = 🍎s + 🍌s + 🍌s2;

                                        static_assert(🛒🐕.TotalCost() == 7 * Apple::price + 15 * Banana::price);

                                        🛒🐕.Receipt();
                                    }

                section data-markdown=""
                    |
                        # Questions Time!
                        ## Who's Afraid of the Big Bad Template?

                        |                                          |   Coral Kashri, Solidus   |
                        | :--------------------------------------: | :-----------------------: |
                        | 📬                                       |    coralkashri@gmail.com  |
                        | ![](dist/assets/linkedin.png#center)     |        Coral Kashri       |




        script charset="utf-8" src="dist/scripts/revealjs.js"
        script charset="utf-8" src="dist/scripts/revealjs-notes-plugin.js"
        script charset="utf-8" src="dist/scripts/page-flip.browser.js"
        script charset="utf-8" src="dist/scripts/custom.js"